.logo{
    width: 55px;
    height: 55px;
    display: block;
    margin: auto;
  }
  .container{
    max-width: 955px;
    background-color: rgb(102, 223, 205);
    margin:auto;
    height: 60vh;
  }
  #send-container{
    display: block;
    margin:auto;
    text-align: center;
    max-width: 985px;
    width: 100%;
  }
  #messageInp{
    width: 92%;
    border: 2px solid black;
    border-radius: 6px;
    height: 34px;
  }
  body{
    height: 100vh;
    background-image:linear-gradient(rgb(234, 234, 243), rgb(109, 39, 233));
  }
  .message{
    background-color: grey;
    width: 24%;
    padding:10px;
    margin: 17px 12px;
    border: 2px solid black;
    border-radius: 10px;
  }
  .left{
    float:left;
    clear: both;
  }
  .right{
    float:right;
    clear: both;
  }